<?xml version="1.0" encoding="UTF-8" ?>
<widget id="com.example.hello" version="0.0.1">        
	<name>Infommodity App</name>        
	<description>            
	Infommodity App       
	</description>        
	<author email="eaguilar@softelligence.com.mx">            
	Softelligence       
	</author>        
	<content src="index.html" />        
	<access origin="*" />        
	<preference name="Fullscreen" value="true" />        
	<preference name="WebViewBounce" value="true" /> 
	<preference name="Orientation" value="portrait" />
</widget>

